* text=auto !eol
raisin/__init__.py -text
raisin/recipe/__init__.py -text
raisin/recipe/dashboard/__init__.py -text
raisin/recipe/dashboard/cube.py -text
raisin/recipe/dashboard/dashboard.py -text
raisin/recipe/dashboard/database.py -text
raisin/recipe/dashboard/generic.py -text
raisin/recipe/dashboard/recipe.py -text
/setup.py -text
